@import '../../variables.scss';

.trips {
  margin-top:50px;
  display:flex;
  justify-content: center;
  h3 {
    font-size:1.5em;
  }
  .flight_list {
    width:250px;
  }

  .section__images {
    display:flex;
    flex-direction:column;
    margin:0 20px;
    img {
      width:240;
      margin:5px 10px
    }
  }


}